
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

 .message {
   padding:0.3em 1em;
   position: relative;
 }

/*Spinner */
.spinner {
  margin: 5px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #666;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

/* swipe out animation */
.messagetrans-leave {
  transform: translateX(60%);
  opacity:0.5;
}

.messagetrans-leave.messagetrans-leave-active {
  transform: translateX(100%);
  opacity:0.5;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}

/* message appear animation */
.messagetrans-enter {
  opacity: 0.01;
}

.messagetrans-enter.messagetrans-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

/*return to top button*/
.return-to-top {
  position: fixed;
  bottom:20px;
  right:20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  z-index:1000;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
}
.return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
.return-to-top:active {
  background: rgba(0, 0, 0, 0.9);
  transform: translateY(2px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.star {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ffd412;
  text-shadow:0px 0px 2px #626262;
  opacity: 1;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;

}

.no-show {
  opacity: 0;
}